<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="AppViewer" />
    <add name="AppViewer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AppViewer;Integrated Security=True;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="AppViewer" path="/" loginUrl="~/Account/Login.aspx" protection="All" timeout="30" />
    </authentication>
    <httpHandlers>
      <add verb="*" path="~/GetImage.ashx" type="AppViewer.UI.GetImage" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="AppViewerSplash.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="Image">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Video">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>